.navbar {
    height: 80px;
    border: 3px solid $primary;
    background-color: gray;
    .navbar_item {
        background-color: $secondary;
        list-style: none;
        
        li {
            font-size: larger;
        }
    }
}