.navbar {
    background-color: lightgray;
    height: 80px;
    display: flex;
    font-size: x-large;
    padding-left: 5%;
    padding-right: 5%;
}

.navbar__logo {
    width: 15%;
}

.navbar__logo img {
    height: 80px;
    width: 100%;
}

.navbar__links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.navbar__links li {
    list-style: none;
    color: black;
    text-shadow: 0 0 3px rgb(0, 0, 0, 0.5);
    cursor: pointer;
}

.navbar__search {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__user {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar__user li {
    list-style: none;
    color: black;
    text-shadow: 0 0 3px rgb(0, 0, 0, 0.5);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    text-shadow: 0 0 3px rgb(0, 0, 0, 0.5);
}

.hero {
    display: flex;
    align-items: center;
    position: relative;
    height: 500px;
}

.hero img {
    position: absolute;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top;
}


.hero__content {
    margin: 0 80px;
    position: relative;
    top: 0;
    width: 50%;
    color: black;
    text-shadow: 0 0 3px rgb(0, 0, 0, 0.5);
}

.hero button {
    border-radius: 15%;
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: medium;
}

.div_separate {
    background-color: lightgray;
    height: 80px;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    row-gap: 20px;
}

.divroot_No_display {
    display: none;
}

.card {
    display: flex;
    height: 550px;
    width: 350px;
    border: 2px solid black;
    flex-direction: column;
    border-radius: 5%;
}

.card:hover {
    scale: 1.08;
}

.card_id {
    display: none;
}

.card_image {
    display: flex;
    height: 50%;
    width: 100%;
    overflow: hidden;
    border-top-right-radius: 8%;
    border-top-left-radius: 8%;
}

.card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card_text_container {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    justify-content: center;
}

.card_text_container_description {
    display: flex;
    height: 40%;
    width: 100%;
}

.card_text_container button {
    background-color: black;
    align-self: center;
    color: white;
    width: 150px;
    height: 100px;
    border-radius: 10%;
}

.card_modal {
    position: fixed;
    top: 25%;
    width: 500px;
    height: 400px;
    background-color: white;
    border: 2px solid black;
    z-index: 2;
    border-radius: 8%;
    display: flex;
}

.card_modal_overlay {
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.438);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

}

.modal_image {
    width: 50%;
    border-radius: 11%;
    background-color: red;
}

.modal_image img {
    border-top-left-radius: 11%;
    border-top-right-radius: 11%;
}

.modal_text_container {
    width: 50%;
}

.modal_text_container button {
    background-color: black;
    align-self: center;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 10%;
}

.div_cart {
    position: absolute;
    width: 310px;
    height: calc(100vh - 90px);
    top: 87px;
    right: 10px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.cart_close_button {
    position: relative;
    position: top;
    width: 50px;
}

.div_cart_dispaly_none {
    display: none;
}

.cart_card {
    display: flex;
    width: 300px;
    height: 155px;
}

.cart_card_image {
    width: 50%;
}

.cart_card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cart_card_text {
    width: 50%;
    font-size: small;
}

.total_price {
    color: red;
    border: 5px solid black;
}

.cart_element_number_active {
    border-radius: 360%;
    height: 25px;
    width: 25px;
    border: 3px solid red;
    display: flex;
    justify-content: center;
}

.modal_login {
    position: fixed;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
}
.modal_login_no_display {
    display: none;
}
.modal_login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}